/* WatchMovie.css */

.watchMovie {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #141414; /* Dark background similar to Netflix */
}

.watchMovie-movie-container {
    position: relative;
    height: 100vh; /* Full height */
    width: 100%; /* Full width */
    overflow: hidden; /* Hide overflow */
}

.watchMovie-movie-background {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Cover the whole area */
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(200%); /* Darken the background */
}
.watchMovie-recommendation{
    background-color: #ffffff1a;
    bottom: 4vh;
    box-shadow: 0 4px 30px #000000b3;
    height: 250px;
    position: absolute;
    width: 100%;
    z-index: 200;
    left: 5px;

}
.recommended-title {
    background-color: #ffffff1a;
    border-radius: 3px;
    color: #fcf7f7;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px;
    text-transform: uppercase;
    left: 5px;
    position: absolute;
    bottom: 280px;
}

.watchMovie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Darker black overlay */
    display: flex; /* Flex to center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.watchMovie-movie-info {
    background-color: rgba(255, 255, 255, 0.1); /* Light background with transparency */
    padding: 20px; /* Padding */
    border-radius: 8px; /* Rounded corners */
    max-width: 500px; /* Maximum width */
    color: white; /* White text */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7); /* Deeper shadow effect */
    transition: background-color 0.3s; /* Smooth background change */
    position: absolute;
    top: 5vh;
}

.watchMovie-movie-title {
    font-size: 2rem; /* Large title */
    font-weight: bold; /* Bold */
    margin-bottom: 7px; /* Margin bottom */
}

.watchMovie-movie-description {
    font-size: 1rem; /* Regular size */
    margin-bottom: 7px; /* Margin bottom */
    line-height: 1.5; /* Line height */
}

.watchMovie-play-button {
    background-color: #e50914; /* Netflix Red */
    color: white; /* White text */
    font-weight: bold; /* Bold */
    padding: 8px 16px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 8px; /* Margin bottom */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    font-size: 1rem; /* Regular size */
    transition: background-color 0.3s, transform 0.3s; /* Smooth background and scale */
}

.watchMovie-play-button:hover {
    background-color: #f40612; /* Darker Red on hover */
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.watchMovie-category-container {
    margin-bottom: 10px; /* Margin bottom */
}

.watchMovie-category-badge {
    background-color: #ffffff; /* White */
    color: #000; /* Black text */
    padding: 5px 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    margin: 5px; /* Margin to the right */
    display: inline-block; /* Inline display */
    font-size: 0.9rem; /* Smaller size */
}

.watchMovie-video-player {
    margin-top: 10px; /* Margin top */
    width: 100%; /* Full width */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* No outline */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
    display: auto; /* Initially hide the video player */
}

.watchMovie-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 12px;
    font-size: 10px;
    color: #fff;
    background-color: #e5091490; /* Netflix red */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}
.watchMovie-back-button:hover {
    background-color: #f40612; /* Darker Red on hover */
    transform: scale(1.05); /* Slight zoom effect on hover */
}
