.register-container {
    min-height: 100vh;
    padding: 20px;
    background: url('../../public/login2.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    padding: 20px;
    background: rgba(32, 32, 32, 0.9);
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}

.app-title {
    color: rgb(229, 9, 20);
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

.form-row {
    display: flex;
    gap: 8px; 
    margin-bottom: 8px;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 8px; 
}

.form-column:last-child {
    margin-right: 0; 
}

.form-label {
    color: white;
    font-size: 18px;
    margin-bottom: 8px;
    
}

.custom-input {
    padding: 10px; 
    border: 1px solid #050505; 
    border-radius: 4px; 
    font-size: 16px; 
    width: 100%; 
    box-sizing: border-box; 
    background: rgb(64, 64, 64); 
    color: white; 
}

.register-btn {
    background: rgb(229, 9, 20);
    border: none;
    padding: 12px;
    font-size: 20px;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.register-btn:hover {
    background: rgb(200, 0, 15); 
}

.login-text {
    color: white;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.login-link {
    color: rgb(229, 9, 20);
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
