/* General styling for the search container */
.search-container {
    background-color: #0f05012e;
    color: #fff;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.search-container h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    color: #e50914; /* Netflix red */
}

/* Styling for the search sections */
.search-sections {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

/* Movie search section title */
.movie-search h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #fff;
}

/* Input field styling */
.movie-search form input[type="text"] {
    width: calc(100% - 110px);
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    outline: none;
}

.movie-search form input[type="text"]::placeholder {
    color: #999;
}

/* Search button styling */
.movie-search form button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.movie-search form button:hover {
    background-color: #f40612;
}

/* Results container styling */
.results {
    margin-top: 20px;
}

.results h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #efa0a0;
}

.results ul {
    list-style: none;
    padding: 0;
}

.results li {
    font-size: 1rem;
    padding: 10px 0;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results li strong {
    color: #f1e3e4;
}

/* No Results Found message */
.no-results {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #999;
    text-align: center;
}

/* Add hover effects to movie list */
.results li:hover {
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.results img {
    max-width: 20%; /* Scale down the image to fit within 90% of the container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.movie-details video {
    max-width: 40%; /* Fit within 40% of the container width */
    max-height: 500px; /* Optional: Limit the height */
    display: auto; /* Center the video */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; /* Optional: Rounded corners */
    display: block;
}

