/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container Styles */
.custom-container-fluid {
  width: 100%;
  padding: 0 1rem;
}

.custom-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 41vh;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Sticky Left */
.sticky-left {
  position: sticky;
  left: 0;
  padding: 1rem 0;
}

/* Text Styling */
.text-center {
  text-align: left;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text-light {
  color: #f5f5f5;
}

.text-dark {
  color: #333;
}

/* No Movies Message */
.no-movies {
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  margin: 2rem 0;
}

.category-head {
  font-size: 2rem;
  /* Large, bold text */
  font-weight: bold;
  /* Makes it stand out */
  color: #333;
  /* Neutral dark color for readability */
  text-transform: uppercase;
  /* Optional: Makes the text all caps */
  letter-spacing: 2px;
  /* Adds spacing for a refined look */
  text-align: left;
  /* Centers the heading */
  margin: 20px 0;
  /* Adds spacing above and below */
  border-bottom: 2px solid #d49c4d;
  /* Underline with a nice accent color */
  padding-bottom: 10px;
  /* Space between text and underline */
  display: inline-block;
  /* Ensures underline doesn't stretch across the page */
}

/* Responsive Design */
@media (max-width: 768px) {
  .custom-container {
    width: 100%;
    padding: 0 0.5rem;
  }
}