/* AdminScreen.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #141414;
  color: #ffffff;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

form {
  background-color: #222222;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

label {
  font-size: 1.2em;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: #ffffff;
}

button {
  background-color: #e50914;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #f40612;
}

.movie-list {
  margin-top: 20px;
}

.movie-card {
  background-color: #222222;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.movie-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.movie-card p {
  margin: 5px 0;
}

.delete-button {
  background-color: #e50914;
  color: #ffffff;
  padding: 3px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #f40612;
}

.update-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 3px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #0056b3;
}

.category-container {
  margin-bottom: 20px;
}

.category-card {
  background-color: #222222;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.category-card h3 {
  font-size: 1.5em;
}

.category-card p {
  margin: 5px 0;
}

.add-category {
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 12px;
  font-size: 10px;
  color: #fff;
  background-color: #e50914; /* Netflix red */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #b00710;
}

.category-checkbox-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.checkbox-item {
  margin: 5px 0;
  font-size: 16px;
}

